
@model Company.DomainModels.Product
@{
    ViewBag.Title = "Product Details";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayoutPage1.cshtml";
}

<h2>Product Details</h2>


<table class="table">

    <tr>
        <th>Product ID</th>
        <td>@Model.ProductID</td>
    </tr>

    <tr>
        <th>Product Name</th>
        <td>@Model.ProductName</td>
    </tr>
    <tr>
        <th>Price</th>
        <td>
            @if (Model.Price != null)
            {
                @Model.Price.Value.ToString("C")
            }
        </td>
    </tr>
    <tr>
        <th>Date Of Purchase</th>
        <td>
            @if (Model.DateOfPurchase != null)
            {
                @Model.DateOfPurchase.Value.ToString("d/M/yyyy")
            }
        </td>
    </tr>
    <tr>
        <th>Availability</th>
        <td>@Model.AvailabilityStatus</td>
    </tr>
    <tr>
        <th>Category</th>
        <td>
            @if (Model.Category != null)
            {
                @Model.Category.CategoryName
            }
        </td>
    </tr>
    <tr>
        <th>Brand</th>
        <td>
            @if (Model.Brand != null)
            {
                @Model.Brand.BrandName
            }
        </td>
    </tr>
    <tr>
        <th>Active</th>
        <td>@Model.Active</td>
    </tr>

</table>

@Html.ActionLink("Edit", "Edit", new { id=Model.ProductID }, new { @class = "btn btn-success btnStyle" })
@Html.ActionLink("Back To List", "index", new { controller = "products" }, new { @class = "btn btn-primary btnStyle" })
@*<a class="btn btn-primary" href="/admin/products/index">Back To Products</a>*@